/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */

html {
  box-sizing: border-box;
}


* {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    color: #000;
    background: #000;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

header {
  display: flex;
  justify-content: space-between;
  background: #333;
  padding: 2rem;
  margin: 0;
  align-items: center;
  color: #FFF;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

ul li {
  margin: 0;
  margin-left: 2rem;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0;
  padding: 2rem;
}

section {
  max-width: 600px;
}

#cougar {
    background: #B26219;
}

#lion {
    background: #FFD5AE;
}

#tiger {
    background: #FFBD82
}

.photo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h2 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.text {
    padding: 0 2rem;
    margin: 0;
    font-size: 100%;
    line-height: 1.5rem;
}

footer {
  background: #333;
  margin: 0;
  padding: 2rem;
}

footer p {
  color: #FFF;
  text-align: center;
}


/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

        a {
            color: #379CB2;
        }
        a:hover {
            color: #82E8FF;
        }


#cougar a {
    color: #FFF;
}

#cougar a:hover {
    color: #1A4A51;
}

#lion a, #tiger a {
    color: #236170;
}

#lion a:hover, #tiger a:hover {
    color: #1A4A51;
}
